.Header {
  margin-top: 10px;
  box-shadow: 3px 3px 3px @blue-dark;
  margin-bottom: 30px;
  .Title-Card {
    display: flex;
    align-items: baseline;
    height: 70px;
    margin: 0 auto;
    padding: 10px;
    background-color: @blue-navy;
    color: @off-white;
    .Title {
      font-size: 4.2rem;
      padding-right: 10px;
    }
    .Game-Version {
      padding-right: 20px;
    }
    .Subtitle {
      font-size: 2.4rem;
      letter-spacing: 2px;
    }
  }
  .Main-Menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
    margin: 0 auto;
    background-color: @blue-dark;
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 24%;
      height: 3rem;
      font-size: 2rem;
      background-color: @blue-sky;
      color: @off-white;
      // box-shadow: 3px 3px 10px #333;
      cursor: default;

      .dropdown {
        display: none;
        width: 100%;
        height: 0;
        position: relative;
        left: 0;
        bottom: -0.2rem;
        border: none;

        li {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 2.75rem;
          width: 100%;
          background-color: @blue-sky;
          color: @off-white;
          border-bottom: 1px solid @blue-dark;

          &:first-child {
            border-top: 1px solid @blue-dark;
          }

          &:last-child {
            border-bottom: none;
          }
        }

        li:hover {
          background-color: @blue-dark;
        }
      }

      &:hover .dropdown {
        display: block;
      }
    }

    &.disabled {
      display: none;
    }
  }
}
