@import 'reset.less';
@import 'variables.less';
@import 'header.less';
@import 'home.less';
@import 'creator.less';
@import 'hero.less';

html {
  font-size: 62.5%;
}
body {
  background-color: #eee;
  font-size: 1.6rem;
}

.App {
  font-family: monospace;
  .container {
    max-width: 1440px;
    margin: 0 auto;
  }
}
