/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  max-width: 100%;
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.Header {
  margin-top: 10px;
  box-shadow: 3px 3px 3px #13293d;
  margin-bottom: 30px;
}
.Header .Title-Card {
  display: flex;
  align-items: baseline;
  height: 70px;
  margin: 0 auto;
  padding: 10px;
  background-color: #006494;
  color: #e8f1f2;
}
.Header .Title-Card .Title {
  font-size: 4.2rem;
  padding-right: 10px;
}
.Header .Title-Card .Game-Version {
  padding-right: 20px;
}
.Header .Title-Card .Subtitle {
  font-size: 2.4rem;
  letter-spacing: 2px;
}
.Header .Main-Menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
  margin: 0 auto;
  background-color: #13293d;
}
.Header .Main-Menu div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 24%;
  height: 3rem;
  font-size: 2rem;
  background-color: #1b98e0;
  color: #e8f1f2;
  cursor: default;
}
.Header .Main-Menu div .dropdown {
  display: none;
  width: 100%;
  height: 0;
  position: relative;
  left: 0;
  bottom: -0.2rem;
  border: none;
}
.Header .Main-Menu div .dropdown li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.75rem;
  width: 100%;
  background-color: #1b98e0;
  color: #e8f1f2;
  border-bottom: 1px solid #13293d;
}
.Header .Main-Menu div .dropdown li:first-child {
  border-top: 1px solid #13293d;
}
.Header .Main-Menu div .dropdown li:last-child {
  border-bottom: none;
}
.Header .Main-Menu div .dropdown li:hover {
  background-color: #13293d;
}
.Header .Main-Menu div:hover .dropdown {
  display: block;
}
.Header .Main-Menu.disabled {
  display: none;
}
.file-select.home {
  border: 1px solid #13293d;
  background-color: #13293d;
  color: #e8f1f2;
}
.file-select.home h1 {
  border-bottom: 1px solid #13293d;
  text-align: center;
  font-size: 4.8rem;
  margin: 10px;
  padding: 15px 0;
  background-color: #006494;
}
.file-select.home .file-div {
  display: flex;
  justify-content: space-between;
  border: 1px solid #13293d;
  font-size: 1.8rem;
  margin: 10px 20px;
  padding: 20px;
  background-color: #1b98e0;
}
.file-select.home .file-div:hover {
  background-color: #006494;
}
.hero-creation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #1b98e0;
  height: 350px;
}
.hero-creation .text-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-creation .stats-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.hero-creation .stats-form .unspent-stats {
  display: inline;
}
.Hero-Stats,
.Hero-Gear,
.Hero-Skills,
.Hero-Abilities,
.Hero-Items {
  max-width: 1450px;
  margin: 20px auto;
  box-shadow: 3px 3px 10px #333;
  background-color: #bbb;
  padding: 5px;
}
.unspent-stats,
.stat-button {
  margin: 8px;
  border-radius: 3px;
  padding: 3px;
  font-family: monospace;
  font-weight: bold;
  box-shadow: 1px 1px 3px #555;
  background-color: #7f7;
}
.lower-button {
  margin: 5px;
  border-radius: 3px;
  padding: 3px;
  font-family: monospace;
  font-weight: bold;
  box-shadow: 1px 1px 3px #555;
  background-color: #f77;
}
.Hero-Gear .gear-display {
  width: 50%;
}
.Hero-Gear .gear-display .gear-row {
  display: flex;
  line-height: 1.5;
  margin: 10px 0;
}
.Hero-Gear .gear-display .gear-row div {
  width: 33%;
}
.Hero-Skills {
  display: flex;
  flex-wrap: wrap;
}
.Hero-Skills .skill-listing {
  width: 33%;
  text-align: center;
  padding: 5px;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #eee;
  font-size: 1.6rem;
}
.App {
  font-family: monospace;
}
.App .container {
  max-width: 1440px;
  margin: 0 auto;
}
